// dark blue candy store colors
// revised from gvim theme

// The Store:
@darkblue:        #000044;

// The Candy:
@raspberry:       #ff00aa;  // red→blue
@mango:           #ffaa00;  // red→green
@lime:            #aaff00;  // green→red
@kiwi:            #00ff66;  // green→blue
@blueberry:       #00aaff;  // blue→green
@fig:             #cc00ff;  // blue→red


// For some reason, colors of gutter elements get 60/40 mixed with darkblue.
// To match these colors in the scroll-view, here some extra definitions.
@gutter-white:    #9999b4;
@gutter-gray:     #4d4d68;
