// These colors are specific to the theme. Do not use in a package!

// Dark-blue Candy Store colors, revised from my gvim theme

// The store:
@darkblue:          #000044;

// The candy:
@raspberry:         #ff00aa;  // red→blue
@mango:             #ffaa00;  // red→green
@lime:              #aaff00;  // green→red
@kiwi:              #00ff66;  // green→blue
@blueberry:         #00aaff;  // blue→green
@fig:               #cc00ff;  // blue→red

// Shades between darkblue and white:
@darkblue-pale:     #333399;
@darkblue-paler:    #6666aa;
@darkblue-palest:   #9999dd;
@darkblue-pastel:   #bbbbff;

// Other colors:
@white:             #ffffff;
@yellow:            #ffff00;
@blue:              #0000ff;
@green:             #00ff00;
@red:               #ff0000;
