// based on resources/markup-and-down.less
// from markdown-language


// 2.
// Generic markup styles
// ----------------------------------------

.syntax--markup {
  
  &.syntax--bold,
  &.syntax--strong.syntax--emphasis {
    font-weight: bold;
  }

  &.syntax--italic,
  &.syntax--emphasis:not(.syntax--strong) {
    font-style: italic;
  }

  &.syntax--underline {
    text-decoration: underline;
  }

  &.syntax--strike {
    text-decoration: line-through;
  }

  &.syntax--strong,
  &.syntax--emphasis {
    color: @kiwi;
    .syntax--punctuation {
      opacity: 0.5;
    }
  }

  &.syntax--heading {
    color: @mango;
    font-weight: bold;
    .syntax--punctuation {
      opacity: 0.5;
    }
  }
  
  &.syntax--quote {
    & > .syntax--punctuation {
      color: @raspberry;
      font-weight: bold;
    }
  }

  &.syntax--link {
  }

  &.syntax--list {
    .syntax--punctuation {
      color: @raspberry;
      font-weight: bold;
    }
  }

  &.syntax--raw,
  &.syntax--code {
    color: @blueberry;
  }

  &.syntax--math {
    color: @lime;
    .syntax--punctuation {
      opacity: 0.5;
    }
}

 &.syntax--substitution,
 &.syntax--changed {
   color: @yellow;
 }

 &.syntax--inserted,
 &.syntax--addition {
   color: @green;
 }

 &.syntax--deletion {
   color: @red;
 }
}



// 3.
// Define custom markdown styles
// ----------------------------------------
// Below is an incomplete list of markdown elements you might want to style
// differently from the default markup elements defined above. All styles are
// empty, primarily to give you an idea of what's possible.

.syntax--text.syntax--md {
  .syntax--md {

    &.syntax--heading {
      > .syntax--punctuation {}
      &.syntax--empty {
        .syntax--punctuation {}
      }
    }

    &.syntax--hr {
      color: @mango;
      font-weight: bold;
    }
    &.syntax--quote {}

    &.syntax--link {
      color: unset;
      .syntax--punctuation {
        color: @raspberry;
        opacity: 1;
      }
      &.syntax--text {}
      &.syntax--destination {
        color: @raspberry;
        .syntax--uri {}
      }
      &.syntax--label {
        color: @raspberry;
      }
      &.syntax--title {}
      &.syntax--auto {
        &.syntax--email {}
      }
      &.syntax--reference {
        &.syntax--abbreviation {}
      }
      &.syntax--footnote {
        &.syntax--reference {}
        &.syntax--definition {}
      }
    }

    &.syntax--gfm {
      &.syntax--reference {
        .syntax--mention {}
        .syntax--issue {}
        .syntax--user {}
        .syntax--repository {}
        .syntax--sha {}

        &.syntax--class {}
        &.syntax--method {
          &.syntax--instance {}
          &.syntax--class {}
        }
      }

      &.syntax--emoji {}
    }

    &.syntax--constant {
      font-weight: bold;
      &.syntax--entity {}
      &.syntax--escape {}
      &.syntax--line-break {}
    }

    &.syntax--reference {
      &.syntax--class {}
      &.syntax--link {}
    }

    &.syntax--list {
      > .syntax--punctuation {
        &.syntax--checkbox {}
      }

      &.syntax--unordered {}
      &.syntax--ordered {}
      &.syntax--empty {}

      &.syntax--task {
        &.syntax--completed {}
      }

      &.syntax--definition {}
    }

    &.syntax--code {
      color: @blueberry;
      &:not(.syntax--fenced) {}

      &.syntax--fenced {
        &.syntax--info {}
      }

      &.syntax--raw {}
    }

    &.syntax--constant {
      &.syntax--language {}
    }

    &.syntax--emphasis {
      &:not(.syntax--strong) {}

      &:not(.syntax--strong) .syntax--strong {
        font-style: italic;
      }
    }

    &.syntax--strong {}

    &.syntax--table {
      color: @syntax-text-color;
      > .syntax--punctuation {
        color: @raspberry;
        &.syntax--alignment {}
      }
    }

    &.syntax--strike {}

    &.syntax--critic {
      &.syntax--addition {}
      &.syntax--deletion {}
      &.syntax--comment {}
      &.syntax--highlight {}
      &.syntax--substitution {}
    }

    &.syntax--special-attributes {}

    &.syntax--attribute {
      &.syntax--special {
        &.syntax--other {}
        &.syntax--id {}
        &.syntax--class {}
      }
      .syntax--value {
        &.syntax--string {}
        &.syntax--storage {}
      }
    }
  }
}
